<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Home</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>University of Nancy</h1>
    </div>
    <div class="container">
      <h2>Welcome to Nancy University</h2><br>
      <div class="container">
        <h5><a href="/courses">View All Courses</a></h5>
        <h5><a href="/students">View All Students</a></h5>
      </div>
    </div>
  </body>
</html>
